@import url('https://jsdelivr.net');
body {

    background-image: url('pattern.png'); 
    background-repeat: repeat;
    background-color:
    
    color: #333; 
    font-size: 1.1rem;
    line-height: 1.6;
    margin: 0;
}
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}
h1, h2 {
    font-family: 'Pacifico', cursive;
    text-align: right;
    color: red;
}

strong {
    font-family: 'Caveat', cursive;
    font-size: 1.4em;
    color: #d35400; 
    font-weight: 700;
}
article {
    background-color: #ffffff; 
    border: 1px solid #dcdde1; 
    border-radius: 12px;     
    
    margin: 40px 0;            
    padding: 30px;        
    
    box-shadow: 0 4px 6px rgba(0,0,0,0.05); 
}
em {
    color: #27ae60; /* Зеленый */
    font-style: italic;
}

hr {
    border: 0;
    border-top: 2px dashed #bdc3c7;
    margin: 40px 0;
}
